# Raindrop.io OAuth Integration
RAINDROP_CLIENT_ID=
RAINDROP_CLIENT_SECRET=
RAINDROP_REDIRECT_URI=
RAINDROP_TOKEN=
NEXT_PUBLIC_RAINDROP_TOKEN=
NEXT_PUBLIC_RAINDROP_CLIENT_ID=
NEXT_PUBLIC_RAINDROP_CALLBACK_URL=
